
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Djangonautic</title>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
  <header>
    <h1><a href="{% url 'home' %}"><img class="logo" src="{% static 'logo-2.png' %}" alt="djangonautic"></a></h1>
    <nav>
      <ul>
        {% if user.is_authenticated %}
        <li class="signlog">
          <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
          </form>
        </li>
        <li>
          <a href="{% url 'articles:create' %}" class="highlight">New Article</a>
        </li>
        {% else %}
        <li class="signlog">
          <a href="{% url 'accounts:login' %}">Login</a>
        </li>
        <li class="signlog">
          <a href="{% url 'accounts:signup' %}">Signup</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <div class="wrapper">
    {% block content %}
    {% endblock %}
  </div>
</body>
<!-- <footer>
  Harika Duyu made by 🤍
</footer> -->
</html>